[submodule "modules/vim/pack/vendor/start/nerdtree"]
	path = modules/vim/pack/vendor/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "modules/vim/pack/vendor/start/youcompleteme"]
	path = modules/vim/pack/vendor/start/youcompleteme
	url = https://github.com/ycm-core/YouCompleteMe.git
