[submodule "modules/vim/pack/vendor/start/nerdtree"]
	path = modules/vim/pack/vendor/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "modules/vim/pack/vendor/start/youcompleteme"]
	path = modules/vim/pack/vendor/start/youcompleteme
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "modules/vim/pack/vendor/start/vim-fugitive"]
	path = modules/vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "modules/vim/pack/vendor/start/auto-pairs"]
	path = modules/vim/pack/vendor/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
