[submodule "modules/vim/pack/vendor/start/nerdtree"]
	path = modules/vim/pack/vendor/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "modules/vim/pack/vendor/start/youcompleteme"]
	path = modules/vim/pack/vendor/start/youcompleteme
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "modules/vim/pack/vendor/start/vim-fugitive"]
	path = modules/vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "modules/vim/pack/vendor/start/auto-pairs"]
	path = modules/vim/pack/vendor/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "modules/vim/pack/vendor/start/vim-signify"]
	path = modules/vim/pack/vendor/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "modules/vim/pack/vendor/start/agit.vim"]
	path = modules/vim/pack/vendor/start/agit.vim
	url = https://github.com/cohama/agit.vim.git
[submodule "modules/vim/pack/vendor/start/vim-colorschemes"]
	path = modules/vim/pack/vendor/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
